name: Build and Upload Release Asset

on:
  release:
    types: [created]

permissions:
  contents: write

jobs:
  build-and-upload:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Static Binary
        run: |
          make CFLAGS="-Wall -g -static"
          mv sntrace sntrace-x86_64-static

      - name: Upload Release Asset
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh release upload ${{ github.event.release.tag_name }} sntrace-x86_64-static --clobber
